<form [formGroup]="group" class="form" (submit)="onSubmit($event)">
  <div class="form__fields">
    <ng-container *ngFor="let field of fields">
      <app-input
        [group]="group"
        [name]="field.name"
        [type]="field.type"
        [placeholder]="field.placeholder"
        [icon]="field.icon"
        [customErrors]="field.customErrors"
        [maxLength]="field.maxLength"
      >
        <p label>{{ field.label }}</p>
        <p icon>{{ field.icon }}</p>
      </app-input>
    </ng-container>
  </div>
  <div class="form__controls">
    <ng-content select="[status-error]"></ng-content>
    <app-button type="submit" [disabled]="!group.valid"
      ><ng-content></ng-content
    ></app-button>
  </div>
</form>
